{% extends 'base.html.twig' %}

{% block title %}New Solde{% endblock %}

{% block body %}
    <h1>Create new Solde</h1>

    {{ include('solde/_form.html.twig') }}

    <a href="{{ path('solde_index') }}">back to list</a>
{% endblock %}
