{# onglet Eau #}

{# {% include 'menu/onglet/ongletEau.html.twig' %} #}



<div class="" id="navEau" style="">

    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="hCredit">Home Eau</a>
        <a class="item" data-tab="modificationEau">Modification</a>
        <a class="item" data-tab="fournisseurEau">Fournisseur</a>
        <a class="item" data-tab="compteurEau">Compteur</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="hCredit">My home Crédit</div>
    <div class="ui bottom attached tab segment" data-tab="modificationEau">Modification</div>
    <div class="ui bottom attached tab segment" data-tab="fournisseurEau">Fournisseur</div>
    <div class="ui bottom attached tab segment" data-tab="compteurEau">Compteur</div>

</div>

<script src="{{ asset('js/ongletNav/oEau.js') }}" type="text/javascript"></script>