{# onglet Chauffage #}

{# {% include 'menu/onglet/ongletChauffage.html.twig' %} #}

<div class="" id="navChauffage" style="">

    
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="hChauffage">Home</a>
    <a class="item" data-tab="modificationChauffage">Modification</a>
    <a class="item" data-tab="fournisseurChauffage">Fournisseur</a>
    <a class="item" data-tab="gaz">Gaz</a>
    <a class="item" data-tab="pellet">Pellet</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="hChauffage">My home Chauffage</div>
<div class="ui bottom attached tab segment" data-tab="modificationChauffage">Modification</div>
<div class="ui bottom attached tab segment" data-tab="fournisseurChauffage">Fournisseur</div>
<div class="ui bottom attached tab segment" data-tab="gaz">Gaz</div>
<div class="ui bottom attached tab segment" data-tab="pellet">Pellet</div>

    
</div>

<script src="{{ asset('js/ongletNav/oChauffage.js') }}" type="text/javascript"></script>