{# onglet Crédit #}

{# {% include 'menu/onglet/ongletCredit.html.twig' %} #}


<div class="" id="navCredit" style="">
    
    <div class="ui top attached tabular menu">
        <a class="item  active" data-tab="hCredit">Home Credit</a>
        <a class="item" data-tab="creditMaison">Crédit Maison</a>
        <a class="item" data-tab="creditVoiture">Crédit Voiture</a>
        <a class="item" data-tab="creditCredit">Crédits</a>
        <a class="item" data-tab="34sansFrais">3/4 fois sans frais</a>
    </div>
    <div class="ui bottom attached tab segment  active" data-tab="hredit">My home Crédit</div>
    <div class="ui bottom attached tab segment" data-tab="creditMaison">Crédit Maison</div>
    <div class="ui bottom attached tab segment" data-tab="creditVoiture">Crédit Voiture</div>
    <div class="ui bottom attached tab segment" data-tab="creditCredit">Crédits</div>
    <div class="ui bottom attached tab segment" data-tab="34sansFrais">3/4 fois sans frais</div>


</div>
{#<script src="{{ asset('js/ongletNav/oCredit.js') }}" type="text/javascript"></script>#}