{# onglet Assurance #}

{# {% include 'menu/onglet/ongletAssu.html.twig' %} #}

<div class="" id="navAssu" style="">
    
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="Assu">Home Assu</a>
        <a class="item " data-tab="assuCorporel">Ass Corporel</a>
        <a class="item " data-tab="assuMaison">Ass Maison</a>
        <a class="item " data-tab="assuVehicule">Assu Véhicule</a>
        <a class="item " data-tab="assuDivers">Assu diverse</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="homeBanque">My home assurance</div>
    <div class="ui bottom attached tab segment" data-tab="assuCorporel">Corporel</div>
    <div class="ui bottom attached tab segment" data-tab="assuMaison">Maison</div>
    <div class="ui bottom attached tab segment" data-tab="assuVehicule">Véhicule</div>
    <div class="ui bottom attached tab segment" data-tab="assuDivers">diverse</div>
</div>


<script src="{{ asset('js/ongletNav/oBanque.js') }}" type="text/javascript"></script>