{# Twig : pour la gestion des Crédits #}

{# {% include "banque/ongletBanque/decoupeOngletB/adminBanCreditCpt.html.twig" %} #}

        <div class="col-12" id="block" style="">
            <div class="card padCard bg-dark bordureBlancheNArrondiOK" id="cardBlock" style="">
                    <div class="card-header textCenter" >
                        <h3>{{ "Administration des crédits" |capitalize}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="" id="" style="">
                            <h4 class="center" >Gestion des crédits</h4>

                            <div class="row-fluid mt-4" id="" style="">
                                <div class="card bg-dark" id="" style="">
                                    <div class="card-body" id="" style="">
                                        <p>#######</p>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
