<form method="post" action="{{ path('carte_delete', {'id': carte.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carte.id) }}">
    <button class="btn">Delete</button>
</form>
