{# Menu de l'application  - Home #}

{# {% include "menu/sideMenu/smHome.html.twig" %} #}


<div class="card border-dark bg-black nav nav-pills nav-stacked gauche" id="cadreMenu" style="">
{#    <h5 class="card-header bg-dark text-light"id="cadreMenuTitre"><span class=""></span>Banque </h5>#}
    <div class="" id="" style="">
        <ul class="nav nav-pills flex-column navbar-dark bg-dark">
            <li class="nav-item">
               <h5 <a class="nav-link white" data-toggle="collapse" href="#item-1">Home</h5>
                <div id="item-1" class="collapse">
                    <ul class="nav flex-column ml-3 ">
                        <li class="nav-item">
                            <a class="nav-link white " href="#">Banque</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link white " href="#">Gaz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link white " href="#">{{ 'électricité' |capitalize }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link white " href="#">Chauffage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link white " href="#">Eau</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link white " href="#">Voiture</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link white " href="#">Assurance</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>