{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Dashbord Administrateur' %}

{% block page_content %}

<div class="container">

    <div class="row">
        <img class="displayed src=" {{ asset('images/f1.jpg') }}" title="image centrale" alt="a man think" />
    </div>
    <div class="row  mt-4"></div>
    <div class="row">
        <h2 class="center">Bienvenue dans la gestion administrateur </h2>
    </div>
    <div class="row">
        <div class="col-6 alert-info">
            <span class="display-3">85</span>
            Nombre Utilisateur
        </div>
        <div class="col-6 alert-success">
            <span class="display-3 ">15</span> Aide
        </div>
    </div>
    <div class="row mt-4">
        <h3> Liste des Comptes</h3>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    toto
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    toto
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    toto
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}