{# Menu Side de gauche global de l'application #}

{# {% include "menu/sideMenu/sideAll.html.twig" %} #}


<div id="navHome">
 {% include "menu/sideMenu/sideDecoupe/smHome.html.twig" %}
</div>
<div id="navAssurance">
  {% include "menu/sideMenu/sideDecoupe/smAssurance.html.twig" %}
</div>
<div id="navBanque">
  {% include "menu/sideMenu/sideDecoupe/smBanque.html.twig" %}
</div>
<div id="navChauffage">
  {% include "menu/sideMenu/sideDecoupe/smChauffage.html.twig" %}
</div>
<div id="navCredit">
  {% include "menu/sideMenu/sideDecoupe/smCredit.html.twig" %}
</div>
<div id="navEau">
  {% include "menu/sideMenu/sideDecoupe/smEau.html.twig" %}
</div>
<div id="navElectricite">
  {% include "menu/sideMenu/sideDecoupe/smElectricite.html.twig" %}
</div>
<div id="navGaz">
  {% include "menu/sideMenu/sideDecoupe/smGaz.html.twig" %}
</div>
<div id="navVoiture">
  {% include "menu/sideMenu/sideDecoupe/smVoiture.html.twig" %}
</div>
