<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Philippe.basuyau" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Gestion Famille -
        {% block title %}Base page {% endblock title %}
    </title>

    {{ encore_entry_link_tags("app") }}

    {% block styleSheet %} {% endblock styleSheet %}

</head>

<body class="backgroundGeneral couleurEcriture margeBodyGauche">
    {% block body %}

    {% block sideMenu %}{% endblock sideMenu %}
    {% block main %} {% endblock main %}

    {% endblock body %}

    {{ encore_entry_script_tags("app") }}

    {% block javaScripts %}{% endblock javaScripts%}
</body>

</html>