{% extends 'base.html.twig' %}

{% block title %}New Email{% endblock %}

{% block body %}
    <h1>Create new Email</h1>

    {{ include('email/_form.html.twig') }}

    <a href="{{ path('email_index') }}">back to list</a>
{% endblock %}
